### 🧰 Tecnologías


<span style="color:#FFA500"><b>pandas</b></span><br>
<span style="color:#00AAFF"><b>numpy</b></span><br>
<span style="color:#FF5733"><b>scikit-learn</b></span><br>
<span style="color:#1E90FF"><b>matplotlib</b></span><br>
<span style="color:#4CAF50"><b>seaborn</b></span><br>
<span style="color:#F07D00"><b>jupyter</b></span>



